<!DOCTYPE html>
<html>
  <head>
    <title>TinyMCE Example</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/plugins/equationeditor/tinymce.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}django_tinymce/mathquill.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/plugins/equationeditor/tinymce.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}django_tinymce/init_tinymce.js"></script>
  <script type="text/javascript">
    tinymce.PluginManager.load('equationeditor', '{{ STATIC_URL }}django_tinymce/plugin.min.js');
  tinyMCE.init({
    selector : "textarea",
    theme : "modern",
    skin : "lightgray",
    force_br_newlines : true,
    menubar:false,
    statusbar: false,
    plugins : "advlist, autolink, lists, link, image, charmap, print, preview, anchor, fullscreen, media, table, contextmenu, autoresize, equationeditor",
    toolbar: "undo, redo, copy, |, bold italic, underline, |, bullist, numlist, |, superscript, subscript, |, charmap, equationeditor, |, table, link, image",
    theme_advanced_buttons1: "image",
    content_css: '{{ STATIC_URL }}django_tinymce/mathquill.css',

    file_browser_callback: function(field_name, url, type, win) {
        if(type=='image') $('#my_form input').click(); 
    },

    relative_urls: false,
    remove_script_host: false,
    convert_urls: true, 
    height: 50,         
    autoresize_max_height: 400, 
    browser_spellcheck : true, 
    paste_as_text: true,
});
  </script>
  <script type="text/javascript">
//$().ready(function () {
//    $("#myTinymce").children().find("#id_describe_ifr").ready(function () { 
//	alert('123');
//	alert($('body').html());
//        $(this, frames['#id_describe_ifr'].document);
//    });
//});

$().ready(function () {
    var id = $("#myTinymce").children().find("#id_describe_ifr").attr("id");
    alert(id);
    var $x = document.getElementById(id).contentDocument;
//    alert($x);
//    var x = $('body').val();
//    alert(x);
//    if (y.document)y = y.document;
//    y.body.style.backgroundColor = "red";

//  alert( $('div#mceu_15').focus().attr('id') );
//   $("#myTinymce").children().find("#id_describe_ifr").load(function(){
//        alert('asd');
//        var b = $(this).contents().find('body').html();
//        alert(b);
//    });
});

  </script>
  </head>
  <body>
<!--    <textarea id="my_editor"></textarea>  -->
    <iframe id="form_target" name="form_target" style="display:none"></iframe>
    <form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">{% csrf_token %}
      <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
    </form>


    <form id="myTinymce" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>

  </body>
</html>
